<template>
<v-app dark>
  <v-navigation-drawer
    :mini-variant="miniVariant"
    :clipped="clipped"
    v-model="drawer"
    fixed
    app>
    <v-list>
      <v-list-tile
        router
        :to="item.to"
        :key="i"
        v-for="(item, i) in menu"
        exact>
        <v-list-tile-action>
          <v-icon v-html="item.icon"></v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title v-text="item.title"></v-list-tile-title>
        </v-list-tile-content>

      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
  <v-toolbar fixed app :clipped-left="clipped">
    <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
    <v-btn icon @click.stop="miniVariant = !miniVariant">
      <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
    </v-btn>
    <v-toolbar-title v-text="title"></v-toolbar-title>
    <v-spacer></v-spacer>
    <v-spacer></v-spacer>
    <v-text-field
            append-icon="search"
            class="lx-2"
            flat
            label="Search"
            solo-inverted
            @input="search"
            v-debounce="300"
          >
      </v-text-field>
  </v-toolbar>
  <v-content>
    <v-container>
      <nuxt />
    </v-container>
  </v-content>
  <v-footer :fixed="fixed" app>
    <span>Nicolas Reymond  &lt; &diams; &gt; 2018</span>
    <v-spacer></v-spacer>
    <span>Nicolas Reymond  &lt; &diams; &gt; 2018 </span>

  </v-footer>
</v-app>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      clipped: true,
      drawer: true,
      fixed: false,
      menu: [
        { icon: 'apps', title: 'Welcome', to: '/' },
        { icon: 'play_circle_outline', title: 'Play', to: '/play' },
        { icon: 'search', title: 'Search', to: '/search' },
        { icon: 'contact_support', title: 'Contact', to: '/contact' }
      ],
      items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      miniVariant: true,
      title: 'nreymond'
    }
  },

  methods: {
    search (q) {
      axios.get(`http://localhost:8000/ajaxSearchVideo.php?q=${q}`).then(function (results) {
        console.log(results.data)
      })
    }
  }
}
//   axios.get(`http://localhost:8000/ajaxSearchVideo.php?q=${q}`).then(function (results) {
//     console.log(results.data)
//   })
// }
</script>
