<template>
<v-layout column justify-center align-center>
  <v-flex xs12 sm8 md6>
    <div class="text-xs-center">
      <img src="/v.png" alt="Vuetify.js" class="mb-5" />
    </div>
    <v-card>
      <v-card-title class="headline">Contact me</v-card-title>
      <v-card-text>
        <v-container id="grid" fluid grid-list-sm tag="section">
          <v-layout wrap>
            <v-list two-line>
          <template v-for="(item, index) in items">
            <v-subheader
              v-if="item.header"
              :key="item.header"
            >
              {{ item.header }}
            </v-subheader>

            <v-divider
              v-else-if="item.divider"
              :inset="item.inset"
              :key="index"
            ></v-divider>

            <v-list-tile
              v-else
              :key="item.title"
              avatar
              href
              @click="":href="item.href"
            >
              <v-list-tile-avatar>
                <img :src="item.avatar">
              </v-list-tile-avatar>

              <v-list-tile-content>
                <v-list-tile-title v-html="item.title"></v-list-tile-title>
                <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" nuxt href='mailto:n.reymond.12@gmail.com'>Mail me</v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</v-layout>
</template>

<script>
  export default {
    data () {
      return {
        mail: 'n.reymond.12@gmail.com',
        items: [
          { header: 'Today' },
          {
            avatar: '/telegram_logo.png',
            title: 'Telegram',
            subtitle: "<span class='text--primary'>&mdash;</span> because all the cool guys are on telegram !",
            href: 'https://t.me/Nitou'
          },
          { divider: true, inset: true },
          {
            avatar: '/gh.png',
            title: 'GitHub',
            subtitle: "<span class='text--primary'>&mdash;</span> keep calm and rebase !",
            href: 'https://github.com/nicolasreymond'
          },
          { divider: true, inset: true },
          {
            avatar: '/index.png',
            title: 'Facebook',
            subtitle: "<span class='text--primary'>&mdash;</span> Be watched. With no escape.",
            href: 'https://www.facebook.com/nitou12'
          }
        ]
      }
    }
  }
</script>
