<template>
  <v-layout>
    <v-flex text-xs-center>
      <img src="/v.png" alt="Vuetify.js" class="mb-5">
      <blockquote class="blockquote">
      <plyr>
        <video>
            <source src="video.mp4" type="video/mp4" />
        </video>
      </plyr>
      <footer>
        <small>
          <em>&mdash;La video</em>
        </small>
      </footer>
    </blockquote>
    </v-flex>
  </v-layout>
</template>
