<template>
<v-layout>
  <v-flex text-xs-center>
    <img src="/v.png" alt="Vuetify.js" class="mb-5">
    <v-container fluid grid-list-xl>
      <v-layout row justify-center>
        <v-flex xa2>
          <v-select :items="fill()" outline label="Genre" autocomplete></v-select>
        </v-flex>
        <v-flex xa2>
          <v-select :items="items" outline label="Langue" autocomplete></v-select>
        </v-flex>
        <v-flex xa2>
          <v-select :items="items" outline label="Version" autocomplete></v-select>
        </v-flex>
        <v-flex xa2>
          <v-select :items="items" outline label="" autocomplete></v-select>
        </v-flex>
        <v-flex xa2>
          <v-select :items="fill()" outline label="" autocomplete></v-select>
        </v-flex>
      </v-layout>
    </v-container>
    <blockquote class="blockquote">
      <footer>
        <small>
          <em>&mdash; Nicolas Reymond</em>
        </small>
      </footer>
    </blockquote>
  </v-flex>
</v-layout>
</template>

<script>
import axios from 'axios'
export default {
  data: () => ({
    items: ['Foo', 'Bar', 'Fizz', 'Buzz']
  }),

  methods: {
    fill () {
      axios.get(`http://localhost:8000/ajaxFillSelect.php`).then(function (results) {
        console.log(results.data)
      })
    }
  }
}
</script>
